
UPDATE `dc_setting` SET `setting_value` = '/_dotclear/dotclear/public' WHERE `dc_setting`.`setting_id` = 'public_url' AND `dc_setting`.`blog_id` = 'default' AND `dc_setting`.`setting_ns` = 'system' AND `dc_setting`.`setting_value` = 'public' AND `dc_setting`.`setting_type` = 'string' AND `dc_setting`.`setting_label` = 'URL to public directory' LIMIT 1;
UPDATE `dc_setting` SET `setting_value` = '/_dotclear/dotclear/themes' WHERE `dc_setting`.`setting_id` = 'themes_url' AND `dc_setting`.`blog_id` = 'default' AND `dc_setting`.`setting_ns` = 'system' AND `dc_setting`.`setting_value` = 'themes' AND `dc_setting`.`setting_type` = 'string' AND `dc_setting`.`setting_label` = 'Themes root URL' LIMIT 1;
UPDATE `dc_setting` SET `setting_value` = '../dotclear/public' WHERE `dc_setting`.`setting_id` = 'public_path' AND `dc_setting`.`blog_id` = 'default' AND `dc_setting`.`setting_ns` = 'system' AND `dc_setting`.`setting_value` = '/public' AND `dc_setting`.`setting_type` = 'string' AND `dc_setting`.`setting_label` = 'Path to public directory, begins with a / for a full system path' LIMIT 1;
UPDATE `dc_setting` SET `setting_value` = '../dotclear/themes' WHERE `dc_setting`.`setting_id` = 'themes_path' AND `dc_setting`.`blog_id` = 'default' AND `dc_setting`.`setting_ns` = 'system' AND `dc_setting`.`setting_value` = '/themes' AND `dc_setting`.`setting_type` = 'string' AND `dc_setting`.`setting_label` = 'Themes root path' LIMIT 1;

LOCK TABLES `dc_blog` WRITE;
UPDATE `dc_blog` SET `blog_url` = 'http://{{ url }}' WHERE `dc_blog`.`blog_id` = '{{ blog_name }}';

LOCK TABLES `dc_setting` WRITE;
INSERT INTO `dc_setting` VALUES ('public_url','{{ blog_name }}','system','{{ public_url }}','string','Themes root path'),('themes_url','{{ blog_name }}','system','{{ themes_url }}','string','Themes root URL');

UPDATE `dc_setting` SET `setting_value` = '../{{ blog_name }}/themes' WHERE `dc_setting`.`setting_id` = 'themes_path' AND `dc_setting`.`blog_id` = '{{ blog_name }}' AND `dc_setting`.`setting_ns` = 'system' AND `dc_setting`.`setting_value` = '../{{ blog_name }}/themes' AND `dc_setting`.`setting_type` = 'string' AND `dc_setting`.`setting_label` = 'Themes root path' LIMIT 1;

UPDATE `dc_setting` SET `setting_value` = '../{{ blog_name }}/public' WHERE `dc_setting`.`setting_id` = 'public_path' AND `dc_setting`.`blog_id` = '{{ blog_name }}' AND `dc_setting`.`setting_ns` = 'system' AND `dc_setting`.`setting_value` = '../{{ blog_name }}/public' AND `dc_setting`.`setting_type` = 'string' AND `dc_setting`.`setting_label` = 'Path to public directory, begins with a / for a full system path' LIMIT 1;

UPDATE `dc_setting` SET `setting_id` = 'files_path', `setting_value` = '{{ dotclear_path }}/dotclear/../{{ blog_name }}/public/related' WHERE `dc_setting`.`setting_id` = 'related_files_path' AND `dc_setting`.`blog_id` = '{{ blog_name }}' AND `dc_setting`.`setting_ns` = 'related' AND `dc_setting`.`setting_value` = '/home/web2/_dotclear/dotclear/../{{ blog_name }}/public/related' AND `dc_setting`.`setting_type` = 'string' AND `dc_setting`.`setting_label` = 'Related files repository' LIMIT 1;

UPDATE `dc_setting` SET `setting_id` = 'url_prefix' WHERE `dc_setting`.`setting_id` = 'related_url_prefix' AND `dc_setting`.`blog_id` = '{{ blog_name }}' AND `dc_setting`.`setting_ns` = 'related' AND `dc_setting`.`setting_value` = 'static' AND `dc_setting`.`setting_type` = 'string' AND `dc_setting`.`setting_label` = 'Prefix used by the URLHandler' LIMIT 1;

INSERT INTO `dc_setting` VALUES ('active','{{ blog_name }}','related','1','boolean','Related plgin activated?');

